// Миксин для шрифтов
// Нельзя менять порядок подключения
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
@import "_nullstyle.scss";

body {
    font-family: Quicksand;
}

// !!!HEADER!!!
.header {
    &__navigation {
    }

    &__burger {
        display: none;
    }

    &__circle {
    }

    &__menu {
    }

    &__list {
    }

    &__link {
    }

    &__icons {
    }

    &__i-list {
    }

    &__i-links {
    }

    &__facebook {
    }

    &__telegram {
    }

    &__twitter {
    }

    &__m {
    }

    &__btn {
    }
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 1%;
    &__circle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #5e81fe;
    }

    &__menu {
        margin-left: -35%;
    }
    &__list {
        text-shadow: 0px 0px 5px #e6e6e6;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        font-weight: 500;
        & li {
            margin-right: 20%;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__link {
        color: #697ca6;
        &:hover {
            color: #5e81fe;
        }
    }
    &__icons {
        margin-right: -30%;
    }

    &__i-list {
        display: flex;
        align-items: center;
        text-align: center;
        & li {
            margin-right: 40%;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__i-links {
    }

    &__btn {
        background: #d2e1ff;
        border-radius: 3px;
        font-weight: bold;
        font-size: 13px;
        color: #3a79ff;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 113px;
        height: 43px;
        cursor: pointer;
        &:active {
            transform: translateY(2px);
        }
    }
}

.container {
    max-width: 1206px;
    margin: 0 auto;
}
.svg-c {
    fill: #b6bac7;
    &:hover {
        fill: #6188ff;
    }
}

.main {
}
.product {
    background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    & source,
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: contain;
        z-index: 1;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5%;
        z-index: 2;
    }

    &__subtitle {
        font-family: Roboto;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #3d4f9f;
        margin-bottom: 2%;
    }

    &__title {
        font-size: 48px;
        font-weight: 300;
        color: #3d4f9f;
        span {
            font-weight: 500;
            &:first-child {
                font-weight: 400;
            }
        }
        margin-bottom: 3%;
    }

    &__text {
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.91;
        letter-spacing: 0.45px;
        color: #8d96bd;
        max-width: 502px;
        padding: 0 1%;
    }

    &__playbtn {
        z-index: 2;
        &:active {
            transform: translate(0, 2px);
        }
        margin-bottom: 10%;
    }

    &__svgbtn {
        fill: #3d4f9f;
    }
}
.brands {
    &__wrapper {
        max-width: 888px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 1%;
        flex-wrap: wrap;
        @media (max-width: 374px) {
            flex-direction: column;
        }
    }

    &__item {
        @media (max-width: 426px) {
            margin-bottom: 3%;
        }
        &:nth-child(4) {
            @media (max-width: 426px) {
                margin-left: 14%;
            }
            @media (max-width: 374px) {
                margin-left: 0;
            }
        }
        &:nth-child(5) {
            @media (max-width: 426px) {
                margin-right: 14%;
            }
            @media (max-width: 374px) {
                margin-right: 0;
            }
        }
        &:last-child {
            @media (max-width: 374px) {
                margin-bottom: 0;
            }
        }
    }

    &__bucket {
    }

    &__watch {
    }

    &__facebook {
    }

    &__atlassian {
    }

    &__audi {
    }
}
.present {
    background: #f5f8ff;
    &__wrapper {
        max-width: 1154px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 5%;
        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__label {
        max-width: 413px;
        padding: 0 1%;
    }

    &__subtitile {
        padding-top: 18%;
        font-family: Roboto;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 3%;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: #3d4f9f;
        margin-bottom: 3%;
    }

    &__text {
        font-family: Roboto;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8d96bd;
        margin-bottom: 15%;
    }

    &__btns {
        display: flex;
        @media (max-width: 1023px) {
            justify-content: center;
            margin-bottom: 2%;
        }
    }

    &__link-video {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #adb4d2;
        width: 130px;
        border: 1px solid #d1d1e4;
        border-radius: 2px;
        & svg {
            fill: #adb4d2;
        }
        & span {
            margin-left: 6%;
        }
        &:hover {
            color: #ffffff;
            background: #4c85ff;
            box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
            & svg {
                fill: #ffffff;
            }
        }
        &:active {
            transform: translateY(2px);
        }
    }

    &__link-features {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #adb4d2;
        width: 130px;
        height: 43px;
        border: 1px solid #d1d1e4;
        border-radius: 2px;
        &:hover {
            color: #ffffff;
            background: #4c85ff;
            box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        }
        &:active {
            transform: translateY(2px);
        }
    }

    &__illustr {
        max-width: 653px;
        margin-left: -5%;
        margin-bottom: -5%;
        @media (max-width: 1023px) {
            margin-bottom: -10%;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    &__bg,
    source {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: contain;
        z-index: -1;
    }

    &__wrapper {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        padding: 5% 0;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 10%;
        position: relative;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__column {
        flex: 0 1 150px;
        margin: 0 3%;
        &::after {
            content: "";
            position: absolute;
            width: 28px;
            height: 1px;
            background-color: #dae4fe;
            @media (max-width: 1270px) {
                display: none;
            }
        }
        &:first-child::after {
            top: 50%;
            left: 31%;
        }
        &:nth-child(2)::after {
            top: 50%;
            left: 48.7%;
        }
        &:nth-child(3)::after {
            top: 50%;
            left: 66.5%;
        }
        &:last-child::after {
            display: none;
        }
    }

    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__icon {
        margin-bottom: 15%;
        @media (max-width: 767px) {
            margin-bottom: 5%;
        }
    }

    &__suptitle {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
        color: #4074f8;
        margin-bottom: 15%;
        white-space: nowrap;
        @media (max-width: 767px) {
            margin-bottom: 5%;
        }
    }

    &__text {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        color: #adb3cb;
        @media (max-width: 767px) {
            margin-bottom: 5%;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        & span {
            font-family: "Open Sans";
            font-weight: 600;
            font-size: 11px;
            line-height: 19px;
            text-align: center;
            color: #adb3cb;
            margin: 0 36px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 1px;
                left: -24px;
                top: 9px;
                background-color: #dae4fe;
            }
            &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 1px;
                right: -24px;
                top: 9px;
                background-color: #dae4fe;
            }
        }
    }

    &__link-l {
        width: 113px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d43f3f;
        background: #ffd7d7;
        border-radius: 2px;
    }

    &__link-r {
        width: 113px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3a79ff;
        background: #d2e1ff;
        border-radius: 2px;
    }
}
.title {
    &__header {
        font-family: Roboto;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        text-align: center;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #3d4f9f;
    }
}
.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    &__left {
        background-color: #e0e9ff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5% 5%;
        text-align: right;
        color: #5e80ff;
        transition: all 1s;
        height: 350px;
        @media (max-width: 767px) {
            align-items: center;
            height: 100%;
        }
        &:hover {
            background-color: #6888ff;
            color: white;
        }
    }

    &__l-icon {
    }

    &__percenteg {
        font-size: 48px;
        line-height: 83px;
        letter-spacing: 0.03em;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        max-width: 260px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        background-color: #e0e9ff;
        width: 100%;
        padding: 5% 5%;
        color: #5e80ff;
        transition: all 1s;
        height: 350px;
        @media (max-width: 767px) {
            align-items: center;
            height: 100%;
        }
        &:hover {
            background-color: #6888ff;
            color: white;
        }
    }

    &__r-icon {
    }

    &__number {
        font-size: 48px;
        line-height: 83px;
        letter-spacing: 0.03em;
    }
    &__svg {
        &_l {
            fill: #5e80ff;
            transition: all 1s;
        }
        &_r {
            stroke: #5e80ff;
            transition: all 1s;
        }
    }
}
.resourses {
    &__label {
        padding: 5% 0;
    }

    &__slider {
        margin-bottom: 5%;
    }

    &__wrapper {
        margin: 0 auto;
        background: #ffffff;
        border: 1px solid #d8e3fe;
        box-sizing: border-box;
        box-shadow: 0px 15px 50px #eff4ff;
        max-width: 1280px;
        margin-bottom: 20%;
    }

    &__item {
        display: grid;
        padding: 3.5%;
        gap: 1%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px;
        @media (max-width: 1023px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 0;
        }
        @media (max-width: 374px) {
            padding: 0;
        }
    }

    &__column-l {
        img,
        source {
            height: 100%;
            width: 100%;
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "img1 img1 img2"
            "img1 img1 img3";
        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 0.5fr);
            grid-template-areas:
                "img1 img1"
                "img1 img1"
                "img2 img3";
        }
        @media (max-width: 374px) {
            grid-template-columns: repeat(2, 0.489fr);
            padding-left: 1%;
        }
    }

    &__img1 {
        grid-area: img1;
        border-radius: 5px;
        background: linear-gradient(
                13.46deg,
                rgba(255, 199, 53, 0.44) 1.89%,
                rgba(255, 227, 154, 0.93) 1.9%,
                rgba(255, 159, 90, 0) 68.24%
            ),
            url(../img/res_img1.png) 50% 40% / 180% no-repeat;
        filter: drop-shadow(0px 15px 100px #e5ebf8);
    }
    &__img2 {
        grid-area: img2;

        border-radius: 5px;
        background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%),
            url(../img/res_img2.png) 50% 40% / 280% no-repeat;
        filter: drop-shadow(0px 15px 100px #e5ebf8);
    }
    &__img3 {
        grid-area: img3;

        border-radius: 5px;
        background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%),
            url(../img/res_img3.png) 50% 40% / 280% no-repeat;
        filter: drop-shadow(0px 15px 100px #e5ebf8);
    }
    &__svg-magn {
        position: absolute;
        left: 43%;
        top: 38%;
        z-index: 2;
    }

    &__column-r {
        padding: 1%;
    }

    &__title {
        font-size: 36px;
        line-height: 45px;
        color: #3d4f9f;
        margin-bottom: 3%;
    }

    &__text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8d96bd;
        margin-bottom: 5%;
        @media (max-width: 767px) {
            padding-right: 1%;
        }
        @media (max-width: 374px) {
            margin-bottom: 1%;
        }
    }

    &__btns {
        display: flex;
        margin-bottom: 20px;
    }

    &__link-l {
        font-family: Roboto;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8d96bd;
        width: 113px;
        height: 43px;
        background: #d2e1ff;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link-r {
        width: 211px;
        height: 43px;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #a6b6da;
    }
}
.quotes {
    background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 4%;
        padding-top: 7%;
    }

    &__label {
        margin-right: 5%;
    }

    &__subtitle {
        font-family: Roboto;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
        margin-bottom: 3%;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: #3d4f9f;
        margin-bottom: 4%;
    }

    &__text {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #a4abc8;
    }

    &__slider {
        background-color: white;
    }

    &__item {
        padding: 10%;
        font-family: Roboto;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #676f95;
        position: relative;
    }

    &__img {
        position: absolute;
        left: 50%;
        bottom: 8%;
        transform: translateX(-50%);
    }
}
.help {
    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
    }

    &__spoilers {
        padding: 0 1%;
        overflow: hidden;
        margin-bottom: 5%;
    }

    &__title {
        font-family: Quicksand;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #8e96b7;
        border-bottom: 1px solid #d8e3fe;
        margin-bottom: 25px;
        padding-bottom: 20px;
        padding-left: 5%;
        cursor: pointer;
        position: relative;
        &::after,
        &::before {
            content: "";
            width: 10px;
            height: 3px;
            background-color: #8e96b7;
            position: absolute;
            top: 8px;
            transition: all 0.5s;
        }
        &::before {
            transform: rotate(40deg);
            left: 0;
        }
        &::after {
            transform: rotate(-40deg);
            left: 6px;
        }
        &.active::before,
        &.active::after {
            background-color: #495274;
        }
        &.active::before {
            transform: rotate(-40deg);
        }
        &.active::after {
            transform: rotate(40deg);
        }
        &.active {
            color: #495274;
        }
    }

    &__text {
        display: flex;
        visibility: hidden;
        opacity: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8d96bd;
        padding-bottom: 20px;
        padding-left: 35px;
        padding-right: 4px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        transition: 1s;
        @media (max-width: 570px) {
            flex-wrap: wrap;
        }
        p {
            @media (max-width: 570px) {
                margin-bottom: 2%;
            }
        }
        a {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #7382a3;
            width: 195px;
            height: 43px;
            background: #e8ecf4;
            border-radius: 2px;
            padding: 2%;
            white-space: nowrap;
        }
        &.active {
            transform: translateY(0);
            position: relative;
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }
    }
}
.pricing {
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    position: relative;
    &__bg,
    source {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: contain;
        z-index: 1;
    }
    &__wrapper {
        max-width: 900px;
        margin: 0 auto;
        padding: 5% 0;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1%;
        z-index: 2;
        text-align: center;
    }

    &__subtitle {
        font-family: Roboto;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5%;
        z-index: 2;
    }

    &__title {
        font-family: Quicksand;
        font-weight: 300;
        font-size: 48px;
        line-height: 60px;
        color: #ffffff;
        margin-bottom: 5%;
        z-index: 2;
        span {
            font-weight: bold;
        }
    }

    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 5%;
        color: #ffffff;
        z-index: 2;
    }

    &__btns {
        display: flex;
        z-index: 2;
    }

    &__btn-l {
        font-family: Quicksand;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c7d3ff;
        border: 1px solid #a0b4ff;
        border-radius: 2px;
        width: 130.08px;
        height: 43px;
        transition: all 0.2s;

        &:hover {
            color: #565f82;
            background: #ffffff;
            box-shadow: 0px 5px 15px #6480e8;
        }
        &:active {
            transform: translateY(2px);
        }
    }

    &__btn-r {
        width: 155px;
        height: 43px;
        font-family: Quicksand;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c7d3ff;
        border: 1px solid #a0b4ff;
        border-radius: 2px;
        transition: all 0.2s;

        &:hover {
            color: #565f82;
            background: #ffffff;
            box-shadow: 0px 5px 15px #6480e8;
        }
        &:active {
            transform: translateY(2px);
        }
    }
}
.contact {
    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 8% 0;
    }

    &__label {
    }

    &__title {
        h2 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #3d4f9f;
        }
    }

    &__text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8d96bd;
    }

    &__form {
        display: flex;
        input {
            font-family: Quicksand;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            color: #7a85ad;
            background: #efeff7;
            border-radius: 5px;
            padding-left: 15px;
            width: 279px;
            height: 59px;
        }
        button {
            background: #4d6ce1;
            box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
            border-radius: 5px;
            width: 184px;
            height: 59px;
            font-family: Quicksand;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
        }
    }
}
.footer {
    &__navigation {
        padding: 5% 1%;
    }

    &__circle {
    }

    &__menu {
    }

    &__list {
    }

    &__link {
    }

    &__icons {
    }

    &__i-list {
    }

    &__i-links {
    }

    &__facebook {
    }

    &__telegram {
    }

    &__twitter {
    }

    &__m {
    }

    &__btn {
    }

    &__copyr {
        padding-bottom: 5%;
        margin-left: 13%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #aeb8d0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
}
