// Миксин для шрифтов
// Нельзя менять порядок подключения
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
@import "_nullstyle.scss";

body {
    font-family: Montserrat;
    // overflow-x: hidden;
    &.lock {
        @media (max-width: 1023px) {
            overflow: hidden;
        }
    }
}

// !!!HEADER!!!
.header {
    position: relative;
    background-color: #fed100;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6%;
        padding-top: 3%;
        padding-left: 1%;
        padding-right: 1%;
        @media (max-width: 1023px) {
            margin-bottom: 4%;
        }
    }

    &__burger {
        display: none;
        @media (max-width: 849px) {
            display: block;
            position: fixed;
            width: 30px;
            height: 20px;
            z-index: 21;
        }
        &::before {
            content: "";
            top: 0;
            background-color: #333333;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: "";
            bottom: 0;
            background-color: #333333;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            position: absolute;
            background-color: #333333;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }

    &__logo {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        @media (max-width: 849px) {
            margin-left: 13%;
        }
    }

    &__menu {
        @media (max-width: 849px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            padding-top: 70px;
            transition: all 0.5s;
            overflow: auto;
            z-index: 20;
        }
        &.active {
            top: 0;
        }
    }

    &__list {
        display: flex;
        @media (max-width: 849px) {
            flex-direction: column;
            align-items: center;
        }
        & li {
            margin-right: 10%;
            @media (max-width: 849px) {
                margin: 0;
                margin-bottom: 15%;
            }
        }
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 849px) {
            font-size: 40px;
        }
    }

    &__tel {
        @media (max-width: 424px) {
        }
    }

    &__link-tel {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-decoration: underline;
        color: #333333;

        @media (max-width: 424px) {
            font-size: 18px;
        }
    }

    &__label {
        padding-bottom: 5%;
        margin-bottom: 5%;
        padding-left: 1%;
        @media (max-width: 1023px) {
            text-align: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 126.9%;
        color: #333333;
        margin-bottom: 2%;
        @media (max-width: 1023px) {
            position: relative;
            z-index: 4;
            font-size: 40px;
            line-height: 1em;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 6%;
        @media (max-width: 1023px) {
            position: relative;
            z-index: 4;
            font-size: 24px;
            line-height: 20px;
            margin-bottom: 40%;
        }
    }

    &__btn {
        display: flex;
        width: 304px;
        height: 60px;
        background: #ff352b;
        align-items: center;
        justify-content: center;

        & a {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #f2f2f2;
        }
        &:active {
            transform: translate(2px, 2px);
        }
        margin-bottom: 6%;
        @media (max-width: 1023px) {
            position: relative;
            margin: 0 auto;
            z-index: 4;
        }
    }

    &__description {
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__descr-list {
        display: flex;
        align-items: center;
        & li {
            display: flex;
            margin-right: 3%;
            svg {
                margin-right: 10px;
                stroke: #f2f2f25b;
            }
        }
        & li:last-child {
            margin-right: 0;
        }
        & span {
            width: 91px;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
        }
    }

    &__man {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(100%, 0);
        z-index: 2;
        @media (max-width: 1023px) {
            transform: translateX(50%);
        }
        & img,
        source {
            @media (max-width: 1023px) {
                width: 80%;
                height: 80%;
                object-fit: contain;
                transform: translateX(20%);
            }
            @media (max-width: 860px) {
                width: 75%;
                height: 75%;
                object-fit: contain;
                transform: translateX(25%);
            }
        }
    }

    &__auto {
        position: absolute;
        top: 35%;
        right: 2%;
        transform: translateX(-20%);
        @media (max-width: 1439px) {
            display: none;
        }
    }

    &__cb-wrapper {
        cursor: pointer;
        position: fixed;
        right: 8%;
        bottom: 5%;
        border-radius: 50%;
        width: 108px;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        &:hover::before,
        &:hover::after {
            content: "";
            position: absolute;
            border: 1px solid rgba(61, 155, 233, 1);
            left: -20px;
            right: -20px;
            bottom: -20px;
            top: -20px;
            border-radius: 50%;
            animation: pulse 1.8s linear infinite;
            opacity: 0;
        }
        &:hover::after {
            animation-delay: 0.5s;
        }
        @media (max-width: 767px) {
            width: 80px;
            height: 80px;
            right: 2%;
            bottom: 1%;
        }
    }

    &__callback {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background: rgba(61, 155, 233, 0.8);
        animation: phone 0.7s alternate ease-in-out infinite;
        @media (max-width: 767px) {
            width: 60px;
            height: 60px;
            & svg {
                width: 30px;
                height: 30px;
            }
        }
        @media (max-width: 767px) {
            width: 60px;
            height: 60px;
            & svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__cb-shadow {
        background: rgba(61, 155, 233, 0.3);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        opacity: 0;
        animation: cb-shadow 3s alternate infinite linear;
    }
}
.container {
    max-width: 1312px;
    margin: 0 auto;
}

// !!!MAIN BODY!!!
.main {
}
.description {
    margin-bottom: 4%;
    &__title {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 523px) {
            flex-direction: column;
        }
    }

    &__item {
        flex-basis: 50%;
        display: flex;
        margin-bottom: 4%;
    }

    &__number {
        flex: 0 0 66px;
        font-weight: 300;
        font-size: 50px;
        line-height: 61px;
        color: #333333;
        text-shadow: 2px 0 0 #fed100;
        text-align: right;
    }

    &__label {
        padding-right: 1%;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    &__sublabel {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 2%;
    }

    &__text {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
    }
}
.small-title {
    & h2 {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
    }
}
.price {
    margin-bottom: 5%;
    &__title {
        margin-bottom: 3%;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 30%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
        &:hover {
            border: 1px solid #fed100;
        }
    }

    &__c-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        padding: 10% 1%;
    }

    &__text {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        & p {
            margin-bottom: 10%;
        }
        margin-bottom: 5%;
    }

    &__number {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 10%;
    }

    &__btn {
        width: 250px;
        height: 51.34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fed100;
        margin-bottom: 10%;
        & a {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
    }
}
.title {
    text-align: center;
    &__header {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 1%;
    }

    &__subheader {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }
}
.carpark {
    margin-bottom: 5%;
    &__title {
        margin-bottom: 5%;
    }

    &__tabs {
    }

    &__tabs-items {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    &__tabs-item {
        margin-right: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        width: 201px;
        height: 50px;
        border: 1px solid #ebebeb;
        &:hover {
            text-decoration: underline;
        }
        &.is-active {
            cursor: default;
            border: 1px solid #fed100;
        }
        &:last-child {
            margin: 0;
        }
    }

    &__slider {
        visibility: hidden;
        height: 0;
        position: relative;
        &.is-active {
            visibility: visible;
            height: 100%;
        }
        &_gaz {
        }
        &_mini {
        }
        &_truck {
        }
        & .slick-list {
            overflow: hidden;
        }
        & .slick-track {
            display: flex;
            justify-content: center;
        }
        & .slick-center {
            opacity: 1;
        }
        & .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
        }
        & .slick-arrow.slick-prev {
            background-image: url(../img/prev_slid.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;
            background-size: contain;
            opacity: 0.5;
            left: 0;
            width: 40px;
            height: 40px;
            @media (max-width: 600px) {
                display: none;
                width: 0;
                height: 0;
            }
        }
        & .slick-arrow.slick-next {
            background-image: url(../img/next_slid.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;
            background-position: center;
            right: 0;
            width: 40px;
            height: 40px;
            opacity: 0.5;
            @media (max-width: 600px) {
                display: none;
                width: 0;
                height: 0;
            }
        }
        & .slick-dots {
            display: flex;
            justify-content: center;

            & li {
                margin-right: 10%;
                & button {
                    background: url(../img/dots.svg) center / contain no-repeat;
                    width: 13px;
                    height: 13px;
                    font-size: 0;
                }

                &:last-child {
                    margin: 0;
                }
            }
            & .slick-active {
                & button {
                    background: url(../img/dots.svg) center / 13px 13px no-repeat,
                        url(../img/dots_act.svg) center / contain no-repeat;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__label {
        flex: 0 1 20%;
        margin-left: 1%;
        padding: 0 5%;
        @media (max-width: 600px) {
            display: none;
        }
    }

    &__sublabel {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        margin-bottom: 8%;
    }

    &__list {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        & li {
            margin-bottom: 8%;
            position: relative;
            padding-left: 20px;
            &::before {
                content: "";
                position: absolute;
                background: url(../img/carpark_check.png) center / cover no-repeat;
                width: 14px;
                height: 14px;
                left: 0;
                top: 3px;
            }
        }
    }

    &__btn {
        width: 250px;
        height: 50px;
        background: #fed100;
        display: flex;
        align-items: center;
        justify-content: center;
        & a {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
    }

    &__img {
        flex: 0 1 80%;
        & img,
        source {
            width: 75%;
            height: 75%;
            object-fit: cover;
            transform: translateX(18%);
            @media (max-width: 1023px) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translateX(0);
            }
        }
        @media (max-width: 600px) {
            margin-bottom: 2%;
        }
    }
    &__adap-desr {
        display: none;

        & span {
            margin: 0 15px;
        }
        @media (max-width: 600px) {
            margin-bottom: 5%;
            display: flex;
        }
    }
    &__btn-adapt {
        width: 300px;
        height: 50px;
        background: #fed100;
        display: none;
        align-items: center;
        justify-content: center;
        margin: 3% auto 0;
        & a {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
        @media (max-width: 600px) {
            display: flex;
        }
    }
}
.reviews {
    background: #fed100;
    padding: 5% 0;
    margin-bottom: 5%;
    &__title {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }

    &__column {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
            display: none;
            padding: 0 1%;
        }
        &:nth-child(2) {
            @media (max-width: 767px) {
                display: flex;
                flex: 50%;
            }
        }
        &:nth-child(3) {
            @media (max-width: 767px) {
                display: flex;
                flex: 50%;
            }
            @media (max-width: 525px) {
                display: none;
            }
        }
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        margin-bottom: 5%;
    }

    &__rating {
        display: flex;
        margin-bottom: 5%;
    }

    &__date {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        margin-right: 10px;
    }

    &__stars {
    }

    &__text {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        margin-bottom: 5%;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 124px;
        transition: all 1s;
        &.active {
            height: 100%;
        }
    }

    &__spoiler {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        text-decoration: underline;
        margin-bottom: 10%;
        cursor: pointer;
    }

    &__btn {
        width: 250px;
        height: 50px;
        border: 1px solid #333333;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        & a {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
    }
}
.contact {
    margin-bottom: 6%;
    &__body {
        max-width: 1002px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @media (max-width: 1023px) {
            text-align: center;
        }
    }
    &__header {
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 2%;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        margin-bottom: 3%;
    }

    &__form {
        display: flex;
        padding: 0 5px;
        align-items: center;
        @media (max-width: 1023px) {
            flex-direction: column;
            justify-content: center;
        }
        & input {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            border-bottom: 1px solid #333333;
            color: rgba(51, 51, 51, 0.7);
            margin-right: 10%;
            width: 300px;
            height: 50px;
            @media (max-width: 1023px) {
                margin-right: 0;
            }
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        @media (max-width: 1023px) {
            margin-top: 5%;
        }

        & button {
            width: 250px;
            height: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #f2f2f2;
            background: #ff352b;
            margin-bottom: 4%;
            &:active {
                transform: translate(1px, 2px);
            }
            @media (max-width: 1023px) {
                margin-bottom: 10%;
                width: 300px;
            }
        }
        & input {
            width: 14px;
            height: 14px;
            margin-right: 5px;
            appearance: none;
            border-bottom: none;
            position: absolute;
            &:checked + .contact__check-box {
                background: url(../img/check_box-black-24dp.svg) center / cover no-repeat;
            }
        }
        & label {
            white-space: nowrap;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.015em;
            color: #333333;
            padding-left: 15px;
        }
    }
    &__check-box {
        position: absolute;
        height: 14px;
        width: 14px;
        background: url(../img/check_box_outline_blank-black-24dp.svg) center / cover no-repeat;
        margin-left: -20px;
        margin-top: 0.5px;
    }
}

.map {
    position: relative;
    &__card {
        padding: 2%;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        max-width: 368px;
        background-color: #fff;
        @media (max-width: 767px) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            max-width: 100%;
            align-items: center;
            padding: 8% 1%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 4%;
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__list {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        & li {
            margin-bottom: 5%;
            position: relative;
            padding-left: 25px;
            &::before {
                content: "";
                background: url(../img/map_card_chk.svg);
                top: 3px;
                left: 0;
                position: absolute;
                width: 14px;
                height: 14px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        & a {
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            text-decoration: underline;
        }
        margin-bottom: 8%;
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__i-list {
        display: flex;
        align-self: flex-end;
        @media (max-width: 767px) {
            display: none;
        }
        & li {
            margin-left: 35px;
        }
    }

    &__i-link {
        & svg {
            fill: #333333;
        }
        & svg:hover {
            fill: #fed100;
        }
    }
}

// !!!FOOTER!!!
.footer {
    padding: 5% 0;
    background: #fed100;
    &__row {
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        @media (max-width: 424px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__label {
        @media (max-width: 767px) {
            flex: 0 1 50%;
            margin-bottom: 5%;
        }
    }

    &__logo {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-bottom: 5%;
    }

    &__text {
        font-size: 16px;
        line-height: 130.4%;
        color: #0e0f12;
        & p:first-child {
            margin-bottom: 5%;
        }
    }

    &__menu {
        padding: 0 1%;
        @media (max-width: 767px) {
            flex: 0 1 50%;
            margin-bottom: 5%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        & li {
            margin-bottom: 5%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 767px) {
            align-items: center;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        &:hover {
            text-decoration: underline;
        }
    }

    &__contact {
        padding: 0 1%;
        @media (max-width: 767px) {
            flex: 0 1 50%;
            padding-right: 5%;
        }
        @media (max-width: 510px) {
            flex: 0 1 100%;
            padding: 0 5%;
            margin-bottom: 5%;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8%;
    }

    &__i-link {
        & svg {
            fill: #333333;
        }
        & svg:hover {
            fill: white;
        }
    }

    &__email {
        text-align: center;
        & a {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
            text-decoration: underline;
        }
    }

    &__phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 767px) {
            flex: 0 1 50%;
            @media (max-width: 510px) {
                flex: 0 1 100%;
                padding: 0 5%;
            }
        }
    }

    &__callback {
        display: flex;
        width: 250px;
        height: 44px;
        border: 1px solid #333333;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }

    &__phone {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        text-decoration: underline;
    }
}

@keyframes phone {
    0% {
        transform: rotateY(20deg);
    }
    50% {
        transform: rotateY(-20deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@keyframes cb-shadow {
    0% {
        opacity: 0.2;
        transform: scale(0.7);
    }
    30% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0.2;
        transform: scale(1);
    }
}
